@import url(node_modules/normalize.css/normalize.css);

@font-face {
  font-family: Skranji;
  src: url("./Skranji/Skranji-Regular.ttf"),
  url("./Skranji/Skranji-Bold.ttf");
}

*::before,
*::after,
:root {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-shadow: 8px 8px 8px lightgray;
}

header {
  padding: 25px;
  font-size: 50px;
}

body {
  min-height: 100vh;
  font-family: "Skranji", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 50%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 160px));
  grid-template-rows: repeat(3, minmax(80px, 160px));
  justify-items: center;
  align-items: center;
  gap: 8px;
}

.game-container button {
  width: clamp(80px, 160px, 160px);
  height: clamp(80px, 160px, 160px);
  font-size: clamp(25px, 50px, 50px);
  background-color: pink;
  border: none;
  box-shadow: 0px 4px 8px lightgray;
}

footer {
  padding: 8px;
}